*{
    margin: 0;
    padding: 0;
}
.container{
height: 94vh;
width: 100vw; 
color: black;
/* background-color: orange; */
/* display: flex;
flex-direction: column;
align-items: center;
justify-content: center; */
}
.heading{
    text-align: center;
    background: linear-gradient(135deg,rgb(37, 62, 37),rgb(64, 134, 64));
    padding: 10px 0px;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
    padding: 50px;
}
.right div{
    padding: 6px 10px;
    margin: 7px 0px;
    border-radius: 10px;
    font-size: 1.0rem;
}
.text{
    padding: 9px 6px;
    border-radius: 7px;
    border: 3px solid black;
    /* width: 5vw; */
    width: 245px;
}
footer{
   
    background: linear-gradient(135deg,rgb(16, 65, 16),rgb(43, 78, 43));
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5px 0px; */
    font-size: 15px;
}
.btn{
    padding: 7px;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(135deg,rgb(37, 62, 37),rgb(64, 134, 64));
    width: 84px;
    /* margin: 0px 11px; */
    margin-right: 10px;
}
.left div{
    font-size: 1.2rem;
    font-weight: bold;
    height: 40px;
    width: 350px;
    padding: 10px;
  
}